/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "poppy-shower";
  src: url(Fonts/Poppy\ Shower.ttf);
}


/* Header - Mone de Jager and F-J Mentz */

.heading-Lovers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 2%;
}

#container1 {
  display: flex;
  justify-content: center;
}


#heading-column1 {
  text-align: right;
  font-size: 50px;

}

#heading-column2 {
  text-align: left;
  font-size: 50px;

}

.heading-surname {
  font-size: 25px;
}

#and-sign {
  font-size: 70px;
  color: darkgoldenrod;
  text-align: center;

}







/* ------------------------------------------------------------------------------------------------------------------------ */

/* Menu */

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Navbar visibility while scrolling */
.nav-bar {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px;
  transition-duration: 0.5s;
}

.nav-bar.visible {
  top: 0;

}

.menu-grid {
  display: flex;
  justify-content: center;
  gap: 70px;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
  padding-bottom: 2%;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  text-align: center;
}

.nav-bar a {
  text-decoration: none;
  color: darkgoldenrod;
  padding-left: 10px;
  padding-right: 10px;

}

/* Hover animation */
.menu-grid :hover {
  background-color: darkgoldenrod;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid darkgoldenrod;
  border-radius: 10px;
  transform: scale(1.1);
  transition-duration: 0.2s;

}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Welcome */

#background-color {
  background-color: rgb(255, 253, 248);
  background-image: url(Pictures/gold\ texture.jpg);
  color: goldenrod;
  text-align: center;
  height: 1500px;
}

#welcome-section {
  background-image: url(Pictures/main\(final\).jpg);
  background-size: cover;
  height: 500px;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  padding-top: 100px;
  font-size: 25px;
}

#reg-buttonb {
  border-radius: 5px;
  background-color: goldenrod;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.reg-locationp {
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
}

/* Text animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated-text {
  margin-top: 200px;
  animation: fadeIn 1.5s ease-in-out;
} */

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Countdown */

#countdown-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  gap: 150px
}

#countdown-container {
  height: 180px;
  background-color: rgb(126, 92, 8);
  display: flex;
  justify-content: center;
  align-items: center;
}



.countdown-columns {
  font-size: 30px;
  color: white;
  background-color: rgb(126, 92, 8);
  height: 130px;
  width: 130px;
  border-radius: 100%;
  text-align: center;
  padding-top: 25px;
  box-shadow: 0px 10px 10px black;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Couple Info */

#container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.couple-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 2%;
  padding-top: 8%;
  gap: 200px;
  text-align: center;

}

.couple-columns {
  background-color: white;
  box-shadow: 0px 10px 10px rgb(150, 118, 37);
  width: 350px;
  height: 500px;
  border-radius: 20px;
}

/* couple info images */

.Couple-Info-Face-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;

}

/* couple info heading names */

.couple-info-heading {
  padding-top: 15px;
  font-size: 40px;
  font-family: "poppy-shower";
  color: black;
}

/* Couple info paragraph */
.couple-info-paragraph {
  padding: 10px;
  font-size: 15px;
  color: darkgoldenrod;
  font-family: 'Great Vibes', cursive;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Join-us Slogan */
#join-us-slogan {
  background-color: rgb(126, 92, 8);
  height: 100px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: "poppy-shower";
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Our story */

#our-story-container {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  background-image: url(Pictures/gold\ texture.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  justify-content: center;
  align-items: center;
}

#our-story-heading {
  font-size: 35px;
  padding-top: 100px;
  font-family: "poppy-shower";
}

#our-story-paragraph {
  color: darkgoldenrod;
  width: 500px;
}

#story-picture {
  width: 700px;
}

#story-picture-container {
  display: flex;
  align-items: end;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Rsvp page */
#main-background {
  background-image: url(Pictures/gold\ texture.jpg);
  background-size: cover;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code-background {
  background-image: url(Pictures/rsvp-barcode-background.jpg);
  background-size: cover;
  height: 750px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr-code-main {
  height: 400px;
  width: 400px;
}